aiml
gTTS
gTTS-token
cachetools
PyAudio
scikit-learn
scipy
sklearn
SpeechRecognition
future
pyowm
watson-developer-cloud
wikipedia
numpy
matplotlib
ipython
ipython-genutils
jupyter
jupyter-client
jupyter-console
jupyter-core
sympy
nose
