<?xml version="1.0"?>
<launch>

	<!-- Just for testing -->
	<!-- x y z qx qy qz qw -->
 	<node pkg="tf2_ros" type="static_transform_publisher" name="base_to_ultrasonic" args="0 0 0.1 0 0 0 1 base_link radar_ultrasonic_mount" />

 	<node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base" args="0 0 0.05 0 0 0 1 odom base_link" />

 	<node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 1 map odom" />

 </launch>
