<?xml version="1.0"?>
<launch>

    <!-- Run the map server -->
    <!-- TODO: no output to screen -->
    <!-- removed: 15-01-2018-->
    <!--node name="map_server" pkg="map_server" type="map_server" args="/home/maximilian/Github/EmeraldAI/testing/ROS/launch/map_data/map.yaml" output="screen"/-->
    
    <!-- Publishes the voxel grid to rviz for display -->
    <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
        <remap from="voxel_grid" to="costmap/voxel_grid"/>
    </node>

    <!-- Run the costmap node -->
    <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
        <rosparam file="/home/maximilian/Github/EmeraldAI/testing/ROS/launch/map_data/map.yaml" command="load" ns="costmap" />
    </node>


    <!-- range_sensor_layer -->
    <!-- costmap_2d -->

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="controller_frequency" value="4.0" />
        <rosparam file="map_data/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="map_data/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="map_data/global_costmap_params.yaml" command="load" />
        <rosparam file="map_data/local_costmap_params.yaml" command="load" />
        <rosparam file="map_data/base_local_planner_params.yaml" command="load" />
    </node>
</launch>
