<?xml version="1.0"?>
<launch>
	<include file="/home/maximilian/Github/EmeraldAI/testing/ROS/launch/_testing_static_transform.launch" />
	<!--include file="/home/maximilian/Github/EmeraldAI/testing/ROS/launch/ekf_localization.launch" /-->
	<include file="/home/maximilian/Github/EmeraldAI/testing/ROS/launch/map.launch" />
</launch>