[DEFAULT]
LoggerName = root

CountryCode2Letter = de
CountryCode4Letter = de-DE
Language = de

FormalFormOfAddressMale = Herr {0}
FormalFormOfAddressFemale = Frau {0}

UnknownUserTag = Unknown
NotKnownDataTag = NotKnown


# ----------------------
[Bot]
Name = Johnny
Languages = Deutsch
Gender = Männlich
BuildDate = 20.10.2016
Developer = Maximilian Porzelt
Origin = Alzenau, Deutschland

StoppwordList = Stopp, stop, Beenden, Halt, Anhalten


# ----------------------
[SentenceResolver]
SynonymFactor = 0.5
StopwordFactor = 0.5
ParameterFactor = 5
ParameterFactorNoKeyword = 0.2

ParameterStopwordThreshold = 1.5

CategoryBonus = 1
RequirementBonus = 1
ActionBonus = 1.5

MinSentenceCountForRemoval = 5
RemoveSentenceBelowThreshold = 1.5

MinNonStopwordSentences = 2


# ----------------------
[NLP]
SentenceRatingThreshold = 2
AliceAsFallback = True


# ----------------------
[Trainer]
Enabled = True
CsvColumnCount = 6
CsvActionColumnCount = 4


# ----------------------
[SpeechToText]
Provider = Google
Microphone =


# ----------------------
[TextToSpeech]
AudioPlayer = afplay
#AudioPlayer = mpg123
Provider = Ivona

MicrosoftVoiceGender = Female
MicrosoftVoiceName = Microsoft Server Speech Text to Speech Voice (de-DE, Hedda)
MicrosoftAPIKey =

GoogleAPIKey =

WitAPIKey =

IvonaVoiceGender = Male
IvonaVoiceName = Hans
IvonaAccessKey =
IvonaSecretKey =


# ----------------------
[Database]
NLPDatabaseType = sqlite
ThesaurusDatabaseType = sqlite
ConversationDatabaseType = sqlite
UserDatabaseType = sqlite
WiFiFingerprintDatabaseType = sqlite

SQliteDatabase = brain

MySQLDatabase =
MySQLPassword =
MySQLHost = 127.0.0.1


# ----------------------
[ComputerVision]
CameraWidth = 640
CameraHeight = 480
CameraID = 0

Modules = Person,Mood,Gender

DetectionSettings = precise
#DetectionSettings = fast

ImageSizeWidth = 350
ImageSizeHeight = 350
ImageLimit = 100
CropBodyImage = True
IntervalBetweenImages = 1


# ----------------------
[ComputerVision.Prediction]
MaxPredictionDistance = 1500

PredictionTimeout = 5
PredictionThreshold = 1000


# ----------------------
[Weather]
OWMAPIKey =


# ----------------------
#       ACTIONS
# ----------------------
[Action.Wikipedia]
Name = Wikipedia
Module = EmeraldAI.Logic.Actions.WikipediaAction
Class = WikipediaAction
Function = ProcessArticle

MinCharBeforeTrim = 200
MaxCharToNewLine = 300


# ----------------------
#      PIPELINES
# ----------------------
[Pipeline.ScopeAnalyzer]
RemoveLowPrioritySentencesBeforeRequirement = False
RemoveLowPrioritySentencesAfterRequirement = True
RemoveStopwordOnlySentences = True


# ----------------------
#      APPLICATION
# ----------------------
[Application.Brain]
Mute = False
Listen = True
RecognizePeople = True

PersonToUnknownFactor = 5
PersonTimeout = 10
