[DEFAULT]
LoggerName = root

CountryCode2Letter = de
CountryCode4Letter = de-DE
Language = de

FormalFormOfAddressMale = Herr {0}
FormalFormOfAddressFemale = Frau {0}

UnknownUserTag = Unknown
NotKnownDataTag = NotKnown


# ----------------------
[Bot]
Name = Otto
Languages = German
Gender = Male
BuildDate = 20.10.2016
Developer = Maximilian Porzelt
Origin = Alzenau, Deutschland

StoppwordList = Stopp, stop, Beenden, Halt, Anhalten


# ----------------------
[GPIO]
# Pin 3 / 5 / 7
#OutputPin0 = 2
#OutputPin1 = 3
#OutputPin2 = 4

# Pin 11 / 13 / 15
#OutputPin3 = 17
#OutputPin4 = 27
#OutputPin5 = 22

# Pin 8 / 10 / 12
#OutputPin6 = 14
#OutputPin7 = 15
#OutputPin8 = 18

# Pin 32
#OutputPin9 = 12

# Pin 35 / 37 / 38 / 40
#OutputPinSwitchA = 19
#OutputPinSwitchB = 26
#OutputPinSwitchC = 20
#OutputPinSwitchD = 21


# ----------------------
[SentenceResolver]
SynonymFactor = 0.5
StopwordFactor = 0.5
ParameterFactor = 5
ParameterFactorNoKeyword = 0.2

ParameterStopwordThreshold = 1.5

CategoryBonus = 1
RequirementBonus = 1
ActionBonus = 1.5

MinSentenceCountForRemoval = 5
RemoveSentenceBelowThreshold = 1.5

MinNonStopwordSentences = 2


# ----------------------
[NLP]
SentenceRatingThreshold = 2
AliceAsFallback = True


# ----------------------
[Trainer]
Enabled = True
CsvColumnCount = 7
CsvActionColumnCount = 5


# ----------------------
[SpeechToText]
Provider = Google
Microphone =

WatsonSTTUsername = 
WatsonSTTPassword = 


# ----------------------
[TextToSpeech]
AudioPlayer = afplay
#AudioPlayer = mpg123
UsePygame = True
Provider = Ivona

MicrosoftVoiceGender = Female
MicrosoftVoiceName = Microsoft Server Speech Text to Speech Voice (de-DE, Hedda)
MicrosoftAPIKey =

GoogleAPIKey =

WitAPIKey =

IvonaVoiceGender = Male
IvonaVoiceName = Hans
IvonaAccessKey =
IvonaSecretKey =


# ----------------------
[Database]
NLPDatabaseType = sqlite
ThesaurusDatabaseType = sqlite
ConversationDatabaseType = sqlite
UserDatabaseType = sqlite
WiFiFingerprintDatabaseType = sqlite

SQliteDatabase = brain

MySQLDatabase =
MySQLPassword =
MySQLHost = 127.0.0.1


# ----------------------
[ComputerVision]
CameraWidth = 640
CameraHeight = 480
CameraID = 0
UseThreadedVideo = True
CameraType = STD
#CameraType = IR -- infrared

SurveillanceMode = False

Modules = Person,Mood,Gender

# 350 or 100 or 50
DetectionSettings = precise
#DetectionSettings = medium
#DetectionSettings = fast

Recognizer = LBPH
#Recognizer = FisherFace

ImageSizeWidth = 350
ImageSizeHeight = 350
ImageLimit = 100
ImageSuffix = True
CropBodyImage = True
IntervalBetweenImages = 1
BodyDetectionInterval = 10
#BodyDetectionInterval = 0 -- Always scan for body

DarknessThreshold = 30

ShowCameraImage = False


# ----------------------
[ComputerVision.Prediction]
MaxPredictionDistance = 75

PredictionTimeout = 3
PredictionThreshold = 150


# ----------------------
[Trigger]
GPIOPin = 3


# ----------------------
[Weather]
OWMAPIKey =


# ----------------------
#       ACTIONS
# ----------------------
[Action.Wikipedia]
MinCharBeforeTrim = 200
MaxCharToNewLine = 300


# ----------------------
#      PIPELINES
# ----------------------
[Pipeline.ScopeAnalyzer]
RemoveLowPrioritySentencesBeforeRequirement = False
RemoveLowPrioritySentencesAfterRequirement = True
RemoveStopwordOnlySentences = True


# ----------------------
#      APPLICATION
# ----------------------
[Application.Brain]
RecognizePeople = True
RecognizeWithIRCam = True
RecognizeWithIRCamOnlyOnDarkness = False

PersonLock = 3
PersonTimeout = 10
DarknessTimeout = 10


MinSetPersonThreshold = 15
# should equal ComputerVision.Prediction - PredictionThreshold
SetPersonThreshold = 150


[Application.SpeechToText]
Trigger=True
TriggerTime=1000


# ----------------------
#     ROBOT HARDWARE
# ----------------------
[Robot.Movement]
Type=Omniwheel
MappingRange=255

Wheel1Degree=150
Wheel2Degree=270
Wheel3Degree=30
Wheel4Degree=-1
Wheel5Degree=-1
Wheel6Degree=-1

