[DEFAULT]
LoggerName = root


[TextToSpeech]
CountryCode2Letter = de
CountryCode4Letter = de-DE
AudioPlayer = afplay

Microphone =

MicrosoftVoiceGender = Female
MicrosoftVoiceName = Microsoft Server Speech Text to Speech Voice (de-DE, Hedda)
MicrosoftAPIKey =

GoogleAPIKey =

WitAPIKey =

IvonaVoiceGender = Male
IvonaVoiceName = Hans
IvonaAccessKey =
IvonaSecretKey =


[Database]
SQliteDatabase = brain
MySQLDatabase =
MySQLPassword =
MySQLHost = 127.0.0.1
