<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="odom" to="pr2_base_odometry/odom" />
    <param name="controller_frequency" value="10.0" />
    <param name="footprint_padding" value="0.015" />
    <param name="controller_patience" value="15.0" />
    <param name="clearing_radius" value="0.59" />
    <rosparam file="/map/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="/map/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="/map/local_costmap_params.yaml" command="load" />
    <rosparam file="/map/global_costmap_params.yaml" command="load" />
    <rosparam file="/map/move_base/navfn_params.yaml" command="load" />
    <rosparam file="/map/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
